

   
          
                                
                                
                      
                       <div class="clearfix"></div>
                       <div class="banner">
           <div class="container">
               <div class="col-md-6">

                   <div class="jacket" >
                         <div class="jacket_desc">
                   <h3 class="title">MEN'S JACKET</h3>
                   <a href="#" ng-click='move()'>view collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                   </div>
                         <img src="lib/images/jacket.jpg" class="img-responsive" alt="" >
                   </div>
                 
               </div>
                <div class="col-md-6">

                   <div class="jacket">
                         <div class="jacket_desc">
                   <h3 class="title">MEN'S SHOES</h3>
                   <a href="#" ng-click='move()'>view collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                   </div>
                         <img src="lib/images/shoe.jpg" class="img-responsive" alt="" class="img-responsive" >
                   </div>
                 
               </div>
                <div class="col-md-3 col-sm-3 col-xs-3" id="bags">

                   <div class="jacket">
                         <div class="jacket_desc">
                   <h3 class="title">BAGS</h3>
                   <a href="#" ng-click='move()'>view collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                   </div>
                         <img src="lib/images/bag.jpg" class="img-responsive" alt="" >
                   </div>
                 
               </div>
                <div class="col-md-2 col-sm-2 col-xs-2" id="glass">

                   <div class="jacket">
                         <div class="jacket_desc">
                   <h3 class="title">GLASSES</h3>
                   <a href="#" ng-click='move()'>view collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                   </div>
                         <img src="lib/images/glass.jpg"  alt="" >
                   </div>
                 
               </div>
           </div>
       </div>
      <div class="container">
          <div id="fashion_section">
          <div class="fashion_side">
              <h3 class="title">FASHIONS</h3>
              <div class="col-md-4 ">
                 <figure class="fashion">
                   <img src="lib/images/f1.jpg" class="img-responsive">
                     <figcaption>
                         <h4 class="fashion_caption">NUEVO SHOP</h4>
                         <p class="cart"><a href="#" ng-click='move()'>SHOP</a></p>
                         <figcaption>
                     </figure>
                  </div>
                   <div class="col-md-4  ">
                 <figure class="fashion">
                   <img src="lib/images/f2.jpg" class="img-responsive">
                     <figcaption>
                         <h4 class="fashion_caption">NUEVO SHOP</h4>
                         <p class="cart"><a href="#" ng-click='move()'> SHOP</a></p>
                         <figcaption>
                     </figure>
                  </div>
                   <div class="col-md-4 ">
                 <figure class="fashion">
                   <img src="lib/images/f3.jpg" class="img-responsive">
                     <figcaption>
                         <h4 class="fashion_caption">NUEVO SHOP</h4>
                         <p class="cart"><a href="#" ng-click='move()'>SHOP</a></p>
                         <figcaption>
                     </figure>
                  </div>
          </div>
          </div></div>
             <div class="container">
          <div class="fashion_side">
              <h3 class="title">FEATURED COLLECTIONS</h3>
              <div class="col-md-4">
                 <figure class="fashion">
                   <img src="lib/images/f4.jpg" class="img-responsive">
                     <figcaption>
                         <h4 class="fashion_caption">NUEVO SHOP</h4>
                         <p class="cart"><a href="#" ng-click='move()'>SHOP</a></p>
                         <figcaption>
                     </figure>
                  </div>
                   <div class="col-md-4">
                 <figure class="fashion">
                   <img src="lib/images/f5.jpg" class="img-responsive">
                     <figcaption>
                         <h4 class="fashion_caption">NUEVO SHOP</h4>
                         <p class="cart"><a href="#" ng-click='move()'>SHOP</a></p>
                         <figcaption>
                     </figure>
                  </div>
                   <div class="col-md-4">
                 <figure class="fashion">
                   <img src="lib/images/f6.jpg" class="img-responsive">
                     <figcaption>
                         <h4 class="fashion_caption">NUEVO SHOP</h4>
                         <p class="cart"><a href="#" ng-click='move()'>SHOP</a></p>
                         <figcaption>
                     </figure>
                  </div>
          </div>
          </div>
            <div class="container">
          <div class="fashion_side">
              <h3 class="title">RECOMMENDED PRODUCTS</h3>
          <ul class="nav nav-pills" id="products">
              <li class="active"><a href="#popular1" data-toggle="pill">POPULAR  <span class="fa fa-caret-down"></span></i></a><li>
                  <li><a href="#sales1" data-toggle="pill">SALES  <span class="fa fa-caret-down"></span></a><li>
                      <li><a href="#seller1" data-toggle="pill">SELLER <span class="fa fa-caret-down"></span></a><li>
                          <li><a href="#rate1" data-toggle="pill">RATE  <span class="fa fa-caret-down"></span></a><li>
                          </ul>
                          <div class="tab-content">
                              <div id="popular1" class="tab-pane fade in active">
                                  <div class="product_view">
                                 <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s2.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Jacket</h3>
                                     <h4>$100</h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s1.jpg" class="img-responsive ">
                                      <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Plain shirt</h3>
                                     <h4>$50</h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s3.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Shoe</h3>
                                     <h4>$30</h4>
                                     </div>
                                     </div>
                              </div>
                              <div id="sales1" class="tab-pane fade">
                                
                                  <div class="product_view">
                                 <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s3.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Shoe</h3>
                                     <h4>$60<h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s2.jpg" class="img-responsive ">
                                      <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Jacket</h3>
                                     <h4>$30</h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s1.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Plain Shirt</h3>
                                     <h4>$100</h4>
                                     </div>
                                     </div>
                             
                                  </div>
                                     <div id="seller1" class="tab-pane fade">
                                          <div class="product_view">
                                 <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s1.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Shirt</h3>
                                     <h4>$60<h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s2.jpg" class="img-responsive ">
                                      <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Jacket</h3>
                                     <h4>$70</h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s3.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Shoe</h3>
                                     <h4>$100</h4>
                                     </div>
                                     </div>
                             
                                  </div>
                                   
                                         <div id="rate1" class="tab-pane fade">
                                          <div class="product_view">
                                 <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s3.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#">SHOP</a></div>
                                     <h3>Shoe</h3>
                                     <h4>$60<h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s2.jpg" class="img-responsive ">
                                      <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Jacket</h3>
                                     <h4>$30</h4>
                                     </div>
                                      <div class="col-md-3" id="single_product">
                                     <img src="lib/images/s1.jpg" class="img-responsive ">
                                     <div class="shop_1"><a href="#" ng-click='move()'>SHOP</a></div>
                                     <h3>Plain Shirt</h3>
                                     <h4>$100</h4>
                                     </div>
                                     </div>
                             
                                  </div>
                                  </div> 
                                  </div>  
            
        </div>
        <div class="middle_content">
        <div class="col-md-12">
            <div class="container">
            <div class="middle_side">
                <div class="middle_text">
                <h3>DISCOVER A HUGE ASSORTMENT OF</h3>
                <p>WOMEN`S HANDBAGS AT THE LOWEST PRICES</p>
             </div>
                <div class="clearfix"></div>
                </div>
                </div>
            </div>
            </div>

                     
               
            
             
                 

  

