  <div class="col-md-12">
  <div id="body1">

      <div id="header-msg">
      <div class="col-md-8  col-md-offset-2 aos-item" data-aos="fade-down-left" >
          <div class="header_msg1">
          <h2 class="text-center lead"> No.1 Fashion Store.</h2><br></div>
          <div class="enter">
    <a href="#"class="btn btn-danger btn-large" ><h3 class="text-center" ng-click='move1()' data-anijs="if:click, on:h3, do:swing animated, to:h3">Enter Store</h3></a>
          </div></div></div>
        

   </div></div>