<div ng-controller="SingleContact">
<div ng-init='names=name'>
   <div class="modal-header">
       <h3>Thank You</h3></div>
       <div class="modal-body">
           <h4>Hello there, thank you for placing an order</h4><br>
           <h5>Your item will be delivered to your specified location within <i style="color:red">48hours</i></h5><br>
           <p>Thank you for shopping with us</p>
           </div>
           <div class="modal-footer">
                <h5>Sales Team:</h5>
               <p>Klikstore.com</p>
               <button ng-click="cancel()"> OK</button>
               
               </div>
</div>
</div>