
                                 <div class="container" >   
                              <div class="col-md-12">
                                
                       
                               <ul class="megamenu skyblue" ng-click='move()'>
                                    <li class="active"><a href="#">HOME</a></li>
                                    <li><a class="color2" href="#">NEW ARRIVALS</a>
                                    <div class="megapanel" ng-click='move()'>
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
									
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
								
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                              

                                        </div></div></li>
                                     <li><a class="color2" href="#">TUXEDO</a>
                                      <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
								
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
									
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
									
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
									
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
							
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
						
                                    </ul>
                                        </div>
                                        </div>
                                              

                                        </div></div>
                                     </li>
                                      <li><a class="color2" href="#">SWEATER</a>
                                       <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
								
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
							
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
					
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
						
                                    </ul>
                                        </div>
                                        </div>
                                              
           </div></div>
                                        </li>
                                       <li><a class="color2" href="#">SHOES</a>
                                        <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
								
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
							
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
						
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
							
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                              

                                        </div></div>
                                       </li>
                                        <li><a class="color2" href="#">GLASSES</a>
                                         <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
							
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
								
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
							
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
									
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
					
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
				
                                    </ul>
                                        </div>
                                        </div>
                                              

                                        </div></div>
                                        </li>
                                         <li><a class="color2" href="#">T-SHIRT</a>
                                          <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
						
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
						
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
							
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
					
                                    </ul>
                                        </div>
                                        </div>
                                              

                                        </div></div>
                                         </li>
                                          <li><a class="color2" href="#">WATCHES</a>
                                             <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                	<div class="h_nav">
                                                <h4>CLOTHING</h4>
                                             	<ul>
									<li><a href="#">new arrivals</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
							
								</ul></div></div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4 > KIDS </h4>
                                <ul>
                                    <li><a href="#">Pools &amp; Tees</a></li>
									<li><a href="#">shirts</a></li>
									<li><a href="#">shorts</a></li>
								
                                    </ul>
                                     </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>BAGS</h4>
                                             <ul>
                                    <li><a href="#">handbags</a></li>
									<li><a href="#">slingbags</a></li>
									<li><a href="#">clutches</a></li>
					
                                    </ul>
                                        </div>
                                        </div>
                                                 <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCOUNTS</h4>
                                             <ul>
                                    <li><a href="#">login</a></li>
									<li><a href="#">create an account</a></li>
									<li><a href="#">create wishlist</a></li>
							
                                    </ul>
                                        </div>
                                        </div>
                                           <div class="col1">
                                        <div class="h_nav">
                                            <h4>ACCessories</h4>
                                             <ul>
                                    <li><a href="#">belts</a></li>
									<li><a href="#">pens</a></li>
									<li><a href="#">eyeglasses</a></li>
						
                                    </ul>
                                        </div>
                                        </div>
                                          <div class="col1">
                                        <div class="h_nav">
                                            <h4>FOOTWEARS</h4>
                                             <ul>
                                    <li><a href="#">NEW ARRIVALS</a></li>
									<li><a href="#">men</a></li>
									<li><a href="#">women</a></li>
								
                                    </ul>
                                        </div>
                                        </div>
                                              

                                        </div></div>
                                          </li>
                                          
                                          </ul>
                                          </div></div>